body {
	background-color: rgb(187, 157, 127);
	font-family: 'Space Grotesk', sans-serif;
}

#App {
	color: rgb(0, 22, 22);
}

h1 {
	text-align: center;
	margin: 5% 0;
}

h2 {
	text-align: center;
	margin: 4% 0;
	font-size: medium;
}

p {
	font-size: smaller;
}

li {
	list-style-type: none;
}

.nav {
	background-color: black;
	
}

.nav .container a {
	color: goldenrod;
}

.home-container {
	margin-top: 10%;
	display: flex;
	justify-content: space-around;
}

.home-container a {
	color: black;
}

.home-container a:hover {
	color: goldenrod;
	background-color: black;
}

.gif-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.gif-holder img {
	margin-top: 20%;
	width: 20%;
	height: auto;
}

.overview {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
}

.overview div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2%;
	margin: 2%;
	width: 45%;
	height: 250px;
	background-color: rgb(165, 124, 87);
	border-radius: 30px;
}
.link, ul a {
	padding: 1%;
	border: none;
	color: black;
	
	text-align: center;
}

.link:hover {
	color: goldenrod;
	background-color: black;
}

ul a:hover {
	color: goldenrod;
}

.btn {
	background-color: rgb(104, 18, 18);
	width: 95%;
	padding: 1%;
	border: none;
	color: goldenrod;
}

.btn:hover {
	background-color: rgb(187, 0, 31);
	color: black;
}

.btn:disabled {
	background-color: rgb(104, 18, 18);
	color: black;
	opacity: 0.8;
}

.prev-next-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;

}

.pagenumber {
	width: 50%;
	text-align: center;
}