body {
	background-color: goldenrod;
	font-family: 'Courier New', Courier, monospace;
}

#App {
	color: black;
}

h2 {
	font-size: small;
	text-align: center;
	margin-top: 5%;
}

p {
	font-size: smaller;
}

.overview {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	margin: auto;
}

.overview div {
	padding: 2%;
	margin: 2%;
	width: 45%;
	height: 250px;
	background-color: rgb(236, 210, 136);
}

.btn-brown {
	background-color: saddlebrown;
	width: 95%;
	padding: 1%;
	border: none;
	color: goldenrod;
}

.btn-brown:hover {
	background-color: rgba(139, 69, 19, 0.815);
}

.btn-brown:disabled {
	background-color: rgb(200, 25, 54);
}

.prev-next-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	margin: auto;
}

.pagenumber {
	width: 50%;
	text-align: center;
}